@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");

body {
    font-family: "Outfit", sans-serif;
    background-color: #E5E5E5;
    height: 100vh;
}

h5 {
    font-family: "Outfit", sans-serif;
}

button:hover {
    transform: scale(1.09);
}

select:hover {
    transform: scale(1.09);
}

input:hover {
    transform: scale(1.09);
}

select:focus {
    transform: scale(1.09);
}

input:focus {
    transform: scale(1.09);
}

.component_title1 {
    font-size: 12pt;
    font-weight: 700;
}