.font-45 {
  font-size: 45pt;
}

.h-190 {
  height: 190px;
}

.font-22 {
  font-size: 22pt;
}

.font-300 {
  font-weight: 300;
}

.font-600 {
  font-weight: 600;
}

.font-family {
  font-family: "Outfit", sans-serif;
}

.font-14 {
  font-size: 13pt;
}